*{
    margin: 0;
    padding: 0;
} 
body {
    font-family: Arial, sans-serif;
}
nav {
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flexbox;
    padding: 10px;
    background-color: #3b3f6b;
    color: rgb(0, 0, 0);
    height: 90px;
}
nav ul {
    display: inline-table;
    margin-left: 48%;
    
}
nav li {
    display: inline;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
}
nav li:first-child {
    margin-left: 0;
}
nav a {
    color: white;
    text-decoration: none;
}
main {
    justify-content: center;
    padding: 3%;
}
.sidebar {
    background-color: #333333;
    width: 16%;
    margin-top: 1%;
    height: 40%;
    float: left;
    margin-left: 20px;
    margin-right: auto;
    
}
.sidebar h2 {
    margin-top: 5%;
    color: white;
    margin-left: 5%;
    text-align: left;
}
.sidebar ul {
    list-style: none;
    margin: 5%;
}
.sidebar li {
    margin-bottom: 4%;
    text-align: left;
}
.Tiger,
.Lion,
.Snake,
.Whale,
.Turtle {
    display: inline-flex;
    background: linear-gradient(to right, #1D0E43, #D9322E);
    border-radius: 70px 0 70px 0;
    width: 90px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    
}
.Turtle{
 margin-right: 0px;       
}

.Shark a {
    color: white;
    text-decoration: none;
    transition: color 0.8s;
}
.Shark a:hover {
    color: red;
}
.Article {
    border: 4px solid #771717;
    color: red;
    width: calc(75% - 50px);
    padding: 2%;
    box-sizing: border-box;
    background-color: #EEC9CC;
    margin: 16px 70px 10px 0px; 
    float: left; 
    
}
.Border {
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    display: inline-flex;

}
.Dog {
    color: black;
    text-align: left;
    margin-top: 1%;
}
.Cat {
    color: black;
    text-align: left;
    margin-top: 2%;
    margin-right: 3%;
}
.fas {
    font-size: 40px;
    border: 4px solid #000;
    color: #000;
    border-radius: 50%;
    margin-left: 100px;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 12px 5px 1px 10px;
    justify-content: center;
    margin-top: 5px;
}
.fa-solid {
    font-size: 300%;
    color: red;
    margin-left: 10%;
    margin-top: 2%;   
}
main {
    background-color: #F4F4F4;
}
footer {
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}